@font-face {
  font-family: 'ralewaybold';
  src: url('Raleway-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayblack';
  src: url('Raleway-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayblack_italic';
  src: url('Raleway-BlackItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ralewaybold';
}

main {
  display: flex;
  flex-direction: column;
}

/* Tous les liens */

header>nav>ul>li>a {
  margin: 0 30px 0 30px;
  text-decoration: none;
}

/* liens non visités */

a:link {
  color: #3E3633;
  font-size: 20px;
}

/* liens visités*/

a:visited {
  color: #3E3633;
}

/* liens au survol*/

a:hover {
  color: #FA6A4C;
  text-decoration: none;
}

/* liens actifs */

a:active {
  color: #FA6A4C;
}

a:target {
  color: #FA6A4C;
}

header {
  background-color: rgb(255, 251, 247);
  border-bottom-style: solid;
  border-bottom-left-radius: 10px;
  border-bottom-color: #FA6A4C;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
}

header>nav>ul {
  margin: 0 50px 0 50px;
  padding: 20px 50px 0 50px;
}

/* Tous les liens */

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.première-section {
  background-image: url("fond.jpg");
  background-position: 25% 75%;
  background-size: cover;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.première-section>h1 {
  font-size: 72px;
  color: #ffffff;
}

.première-section>h2 {
  font-size: 20px;
  color: #ffffff;
}

.deuxième-section {
  background-color: rgb(255, 251, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deuxième-section>h2 {
  margin-top: 40px;
  }

.filet1 {
  background-image: radial-gradient(rgba(59, 59, 59, 0.208), rgba(241, 241, 207, 0.150));
  width: 80%;
  height: 2px;
  margin: 10px 0 10px 0;
}

.filet {
  background-image: radial-gradient(rgba(59, 59, 59, 0.208), rgba(241, 241, 207, 0.150));
  width: 80%;
  height: 1px;
  margin: 10px 0 10px 0;
}

.col-md-3>h3 {
  font-size: 23px;
  color: rgb(0, 255, 115);
}

.col-md-3>p {
  text-align: center;
  width: 250px;
  margin: 10px 50px 10px 50px;
}

.mes-projets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.bordure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(59, 59, 59, 0.171);
  border-radius: 25px;
  padding: 20px 50px 5px 50px;
  margin: 10px;
}

.projet1 {
  background-image: url("images/001-fuji.png");
  background-position: 100%;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.projet2 {
  background-image: url("images/005-istanbul.png");
  background-position: 100%;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.projet3 {
  background-image: url("images/006-eiffel-tower.png");
  background-position: 100%;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.projet4 {
  background-image: url("images/002-seoul.png");
  background-position: 100%;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.projet5 {
  background-image: url("images/003-pisa.png");
  background-position: 100%;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.projet6 {
  background-image: url("images/004-statue-of-liberty.png");
  background-position: 100%;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.espace{
  width:100%;
  height: 40px;
}

.troisième-section {
  background-color:  rgb(255, 210, 152);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.troisième-section>h2 {
  margin-top: 40px;
}
 aside {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(59, 59, 59, 0.171); 
  border-radius: 25px;
  padding: 20px 50px 5px 50px;
  margin: 10px 10px 10px 42px; 
  margin-bottom:50px;
}  
.progression{
  width:60%;
 
}
.quatrième-section {
  background-color: rgb(255, 251, 247);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

/* le formulaire */

form {
  width: 70%;
}

.quatrième-section>ul{
  display: flex;
  justify-content: center;
}

textarea, input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 80%;
  background-color: rgba(250, 105, 76, 0.822);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FA6A4C;
}